OPENAI_API_KEY=
OPENAI_SUMMARY_MODEL=
ALADIN_TTB_KEY=
DELETE_PASSWORD=
FILE_STORAGE_PATH=
FILE_MANAGER_PASSWORD=
SECURITY_LOG_PATH=
SECURITY_LOG_TIMEZONE=
FILE_MAX_UPLOAD_MB=
FILE_BLOCKED_EXTENSIONS=
FILE_ALLOWED_EXTENSIONS=
