{
    email {env.CADDY_EMAIL}
}

(common_tls) {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
        resolvers 1.1.1.1 1.0.0.1
    }
    encode zstd gzip
}

portal.len.pe.kr {
    redir https://len.pe.kr{uri} permanent
}

len.pe.kr {
    import common_tls
    reverse_proxy {env.PORTAL_UPSTREAM}
}

portfolio.len.pe.kr {
    import common_tls
    reverse_proxy {env.PORTAL_UPSTREAM}
}

file.len.pe.kr {
    import common_tls
    reverse_proxy {env.PORTAL_UPSTREAM}
}

admin.len.pe.kr {
    import common_tls
    reverse_proxy {env.PORTAL_UPSTREAM}
}

news.len.pe.kr {
    import common_tls
    reverse_proxy crawler-worker:8001
}

memo.len.pe.kr {
    import common_tls
    reverse_proxy youtube-memo:8002
}

books.len.pe.kr {
    import common_tls
    reverse_proxy book-memo:8003
}
